<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
		
		<add key="filepath" value="D:\Git-Satva\Trainee2023\Trainee2023\Pratik Patel\EmployeeDetailsProject\EmployeeDetails.json"/>
	</appSettings>
</configuration>